html, body {
  max-width: 100%;
  overflow-x: hidden;
}
#profile-img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width:150px;
}
.navbar{
  padding-top: 0px;
  padding-right: 30px;
}
.nav-item{
  color:#EFEAE2;
  font-size: 15px;
}
.navbar-nav li.active{
  /* text-decoration: underline #00ccff !important;  */
  transform: scaleX(1);
  border-bottom: 3px solid #00ccff!important;
  text-decoration: none;
}
.navbar-toggler-icon{
  width: 30px !important;
  height:30px !important;
}
.navbar-toggler{
  width: 56px !important;
  height:40px !important;
  
}
#left{
    background-image:url("../images/bg-3.jpg");
    height: 100vh;
    width: 100vw;
    padding-top: 100px;
    height: 50%;
}
.h1-animate, .h1-span{
    font-family: 'Russo One', sans-serif;
    /* font-family: 'Fjalla One', sans-serif; */
    color:#EFEAE2;
    font-weight: bold;
    font-size: 50px;
    animation-duration: 3s;
    animation-name: slidein;
    padding-top: 5px;   
    padding-bottom: 15px; 
 }
 #p1{
  font-family: 'Russo One', sans-serif;
  color:#00ccff;
  /* #ff0000; */
  font-size: 20px;
 }

 @keyframes slidein {
    from {
      margin-left: 85%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    } 
  }
p{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.content{
  background-image: url("../images/bg-2r.png");
  background-repeat: no-repeat;

}
.about{
  padding-left: 20%;
  padding-top: 5%;
  padding-bottom: 120px;
}
.list-inline{
  padding-top: 70px;
  padding-bottom: 30px;
  animation: fadein 8s;
}

.alert{
    text-align: center;
    padding: 10px;
    background:rgb(99, 206, 99);
    color:#fff;
    margin-bottom: 10px;
    display: none;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
#description{
  background-color: rgb(246, 248, 199, 0.1);
  padding: 60px;
}
.myimage{
  width: 100%;
}

.imgdiv{
  height: 150px;
  overflow: hidden;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-responsive{
  display: inline-block;
}
.work-div{
  transition: .3s;
}
.imgdiv :not(img) {
opacity: 0;
transition: .3s;
} 

.imgdiv:hover img{
filter: blur(2px) brightness(60%);

}
.imgdiv:hover :not(img){
opacity: 1;
}
h5, h1, a, .txt{
font-family: 'Russo One', sans-serif;
}
.buttons{
font-family: 'Russo One', sans-serif;
font-size: 5px;
}
.footer{
  font-family: 'Russo One', sans-serif;
  color:#8F9AA7;
  background: #1b242f;
  padding: 30px;
}
.Copyright{
  color: #00ccff;
  font-size: 12px;
}
#send-button{
  background-color: #00ccff;
}

.list-inline-item i{
  font-size: 2.5em; 
  color: #EFEAE2;
}

.list-inline-item i:hover{
  color: #00ccff;
}

.footer-links .list-inline-item i{
  font-size: 3em; 
  color: #8F9AA7;
}

.footer-links .list-inline-item i:hover{
  color: #00ccff;
}

.hidden{
  display: none;
}

#show-more{
  background-color: #00ccff;
  
}
#dev-info{
  list-style-type:none;
  padding-left: 6px;
  background: #eceff1;
  /* width: 35%; */
  font-weight: 500;
  border: solid #00ccff 1px;
  /* border-left: solid #00ccff 1px; */
}

.form-group input{
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: solid #eceff1 3px;

}

.form-group textarea{
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: solid #eceff1 3px;
}

input:focus{
  /* border: solid #eceff1 3px; */
  outline: none;
}

#contact-form{
  border-bottom: solid #eceff1 1px;
  border-left: solid #eceff1 1px;
}

::placeholder{
  font-weight: 100;
}



